* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    overflow-y: hidden;
}


/*start preloader*/

.centered {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 50%;
    ;
    top: 50%;
    ;
    transform: translate(-50%, -50%);
    z-index: 5000;
}

.blob-1,
.blob-2 {
    width: 70px;
    height: 70px;
    position: absolute;
    background: #00bd56;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blob-1 {
    left: 20%;
    animation: osc-l 2.5s ease infinite;
}

.blob-2 {
    left: 80%;
    animation: osc-r 2.5s ease infinite;
    background: #207dff;
}

@keyframes osc-l {
    0% {
        left: 20%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 20%;
    }
}

@keyframes osc-r {
    0% {
        left: 80%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 80%;
    }
}


/*end preloader*/


/* start navbar */

.navbar {
    position: absolute;
    top: 22px;
    color: white;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 99;
    transition: all 1s;
}

.navbar-brand::before {
    content: "";
    position: absolute;
    left: -52px;
    top: -26px;
    bottom: -18px;
    right: 75%;
    background-color: #171b21;
    z-index: -1;
    transform: skewX(-40deg);
}

.navbar .navbar-nav {
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: white;
    letter-spacing: -1px;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.navbar .navbar-brand .fa-helmet-un {
    color: gold;
    font-size: 30px;
    margin-right: 8px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    transition: all 0.5s ease;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 19px 12px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #00bd56;
}

.navbar .navbar-nav .nav-item .ticket {
    background-color: #171b21;
    border-radius: 5px;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00bd56;
    color: black;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.btn {
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.btn-blue {
    background-color: #207dff;
    border: 1px solid #207dff;
}

.btn:hover {
    background-color: black;
    border: 1px solid black;
}

.btn-green {
    background-color: #00bd56;
    border: 1px solid #00bd56;
}

.bg {
    position: fixed;
    top: 0;
    background-color: gold;
}

.bg .navbar-brand::before {
    bottom: 0px;
}

.bg .container .navbar-nav .nav-item .nav-link.ticket {
    color: white;
}

.bg .navbar-collapse {
    color: white;
}


/* end navbar */


/*start header*/

.header {
    z-index: 2;
    color: white;
    margin-top: 40px;
}

.header h1 {
    font-size: 79px;
    font-weight: bold;
}

.header p {
    font-size: 20px;
}

.head {
    height: 100vh;
    width: 100%;
    background-image: url("../images/bg_1.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
}


/*endheader*/


/*start match timer*/

.nextmatch-timer {
    background-color: #171b21;
    padding: 30px;
    color: white;
}

.match {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team1 img,
.team2 img {
    width: 60px;
    ;
    height: 60px;
    ;
}

.team1 span,
.team2 span {
    margin-top: 10px;
}

.team1,
.team2,
.versus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match-timer div {
    color: white;
    text-align: center;
    font-size: 30px;
}

.match-timer div p {
    font-size: 19px;
}

.get {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*endmatch timer*/


/*last-match start*/

.last-game {
    position: relative;
}

.last-data {
    position: relative;
    z-index: 2;
    padding: 70px 0;
    padding-bottom: 200px;
    overflow: hidden;
}

.last-data::before {
    content: "";
    background-color: #00bd56;
    position: absolute;
    left: -1000%;
    top: 0;
    bottom: 0;
    right: 50%;
    z-index: -1;
    transform: skew(-40deg);
}

.last-data::after {
    content: "";
    background-color: #207dff;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: -1000%;
    z-index: -1;
    transform: skew(-40deg);
}

.heading {
    margin-top: 150px;
    margin-bottom: 100px;
}

.heading p {
    color: #999;
    ;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.heading h1 {
    font-size: 50px;
    ;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.match-table h2 {
    font-size: 65px;
}

.match-table p {
    font-size: 25px;
}

.match-table-versus p {
    font-size: 45px;
}

.match-table p,
.match-table h2 {
    color: #171b21
}

.date {
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
}

.last-game-btn {
    background-color: #171b21;
    padding: 8px 15px;
    color: white;
    font-size: 18px;
}

.last-game-btn:hover {
    color: white;
}

.video-highlight {
    position: relative;
    z-index: 5;
}

.video-highlight iframe {
    margin-top: -135px;
    width: 925px;
    height: 365px;
    border-radius: 10px;
}


/*end last-match section */


/*start game schedule*/

.game-schedule-header {
    margin-top: 80px;
    margin-bottom: 60px;
}

.game-schedule-header p {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 0px;
    font-size: 16px;
}

.game-schedule-header h1 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    font-size: 50px;
}

.match-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.match-table-title {
    align-items: center;
}

.match-team {
    align-items: center;
}

.match-team h3 {
    color: #171b21;
    font-size: 21px;
    font-weight: bold;
}


/*end game schedule*/


/*start about us*/

.about-us {
    background-image: url('../images/bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    color: white;
    padding: 20px;
    margin-top: 120px;
}

.about-us .banner {
    width: 545px;
    height: 600px;
    ;
    margin-top: -65px;
    border-radius: 10px;
}

.about-us h1 {
    text-transform: uppercase;
}

.about-us .about-us-content {
    padding: 30px 75px 0 0;
}

.about-us::before {
    content: "";
    position: absolute;
    left: -1000%;
    top: 0;
    bottom: 0;
    right: 50%;
    background-color: #00bd56;
    opacity: 0.7;
    transform: skew(-40deg);
    z-index: 1;
}

.about-us::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: -1000%;
    background-color: #207dff;
    opacity: 0.7;
    transform: skew(-40deg);
    z-index: 1;
}


/*end about us*/


/*start next-matches*/

.next-matches {
    margin-top: 100px
}

.next-matches .next-matches-heading {
    align-items: center;
    margin-bottom: 50px;
}

.next-matches .next-matches-heading p {
    margin-bottom: 0;
    letter-spacing: 5px;
    color: #999;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

.next-matches .next-matches-heading h1 {
    color: #171b21;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.next-matches .matches-table .container {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
}


/*start squad*/

.team-squad {
    background-image: url("../images/bg_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0 100px 0;
    margin-top: 80px;
    overflow-x: hidden;
}

.team-squad::before {
    content: "";
    background-color: #207dff;
    position: absolute;
    left: -1000%;
    top: 0;
    bottom: 0;
    right: 50%;
    z-index: 2;
    transform: skew(-40deg);
    opacity: 0.7;
}

.team-squad::after {
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: -1000%;
    z-index: 2;
    transform: skew(-40deg);
    opacity: 0.7;
}

.squad-header {
    position: relative;
    align-items: center;
    z-index: 3;
    color: white;
    margin-top: -40px;
    margin-bottom: 80px;
}

.squad-header p {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 0px;
}

.squad-header h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.team-member {
    align-items: center;
}

.team-member img {
    width: 150px;
    height: 150px;
}

.team-squad .container {
    position: relative;
    z-index: 3;
    color: white
}


/*end squad*/


/*start training*/

.training {
    padding: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.training h3 {
    text-transform: uppercase;
    font-size: 22px;
}

.training .container .row div {
    column-gap: 11px;
}


/*end training*/


/*start testminoial*/

.testminoial {
    position: relative;
    padding: 100px 0;
    color: white;
    overflow-x: hidden;
}

.testminoial::before {
    content: "";
    background-color: #207dff;
    position: absolute;
    left: -1000%;
    top: 0;
    bottom: 0;
    right: 50%;
    z-index: -1;
    transform: skew(-40deg);
}

.testminoial::after {
    content: "";
    background-color: #00bd56;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: -1000%;
    z-index: -1;
    transform: skew(-40deg);
}

.testminoial .test-header {
    align-items: center;
    margin-bottom: 80px;
    margin-top: -50px
}

.testminoial .test-header p,
.news-header p {
    letter-spacing: 5px;
    margin-bottom: 0px;
}

.testminoial .test-header h2,
.news-header h2 {
    font-weight: bold;
    font-size: 45px;
}

.owl-three .item {
    align-items: center;
}

.owl-three .item img {
    width: 150px;
    height: 150px;
}

.owl-three .item p {
    text-align: center;
    margin-bottom: 5px;
    width: 263px;
}


/*end testmonial*/


/*start news*/

.news {
    margin-top: 80px
}

.news .img-title {
    color: #171b21;
    font-size: 23px;
    margin-top: 5px;
}

.news-header {
    align-items: center;
}

.news .container .row div img {
    width: 100%;
    height: 273px;
}

.news .child {
    position: absolute;
    background-color: white;
    z-index: 2;
    top: 199px;
}

.news .child .day {
    align-items: center;
}

.news .child .date-set {
    margin-left: 10px;
}

.news .child .date-set p {
    color: #171b21;
    font-size: 16px;
    margin-bottom: 0px;
}


/*end news*/


/*start statics*/

.statistics {
    background-color: #f8f9fa;
    margin-top: 50px;
    padding: 50px 0;
}

.statistics .container h1 {
    font-size: 60px;
}

.statistics .container p {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
}

.statistics .container .row div {
    align-items: center;
}


/*end statics*/


/*start contact*/

.contact {
    background-image: url("../images/bg_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    margin-top: 50px;
    ;
}

.contact .email {
    width: 100%;
}

.subscribe-data {
    align-items: center;
}

.contact h1 {
    font-size: 55px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.contact input {
    width: 60%;
    height: 70px;
    border: 1px solid transparent;
    padding: 0 20px;
    border-radius: 5px 0px 0px 5px;
    transition: 0.6s;
}

.contact input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 5px #00bd56;
}

.contact a {
    height: 70px;
    padding: 0 20px;
    width: 91px;
    position: relative;
    left: 0px;
    top: 0px;
    border-radius: 0 5px 5px 0;
    text-align: center;
}

.contact a p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*end contact*/


/*start footer*/

footer {
    background-color: black;
    padding: 100px 30px;
    color: white
}

footer .social-media {
    column-gap: 10px;
}

footer .social-media-item {
    color: black;
    background-color: #00bd56;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    align-items: center;
    transition: 0.4s;
}

footer .social-media-item:hover {
    background-color: white;
    color: #00bd56
}

.footer .service-item {
    align-items: center;
}

footer .service-item p.service-name {
    font-size: 13px;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 5px;
    ;
}

footer .service-item .svg-inline--fa {
    margin-top: 7px;
}

footer .questions p {
    margin-left: 17px;
}

footer .questions .svg-inline--fa {
    margin-top: 4px
}


/*end footer*/


/*media query*/

@media screen and (max-width:480px) {
    .squad-header h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:786px) {
    .header h1 {
        font-size: 55px;
    }
}

@media screen and (max-width:768px) {
    .match .row {
        width: 80%;
        margin-left: calc((100% - 80%) / 2);
    }
    .training .container .row div {
        column-gap: 0px;
    }
}

@media screen and (max-width: 678px) {
    .navbar-brand::before {
        right: 45%;
        height: 77px;
    }
}

@media screen and (max-width:992px) {
    .navbar-brand::before {
        height: 87px;
    }
    .navbar .container {
        max-width: 100%;
    }
    .navbar-collapse {
        position: absolute;
        left: 0px;
        top: 61px;
        background-color: #171b21;
        padding: 0px;
        margin: 0px;
        ;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    .video-highlight iframe {
        margin-top: 10px;
    }
    .last-game-btn {
        position: relative;
        top: 80px;
    }
    .about-us .banner {
        display: none;
        ;
    }
    .next-matches .matches-table .container {
        margin-top: 10px
    }
    .news .img-item {
        margin-top: 13px;
    }
    .contact h1 {
        font-size: 30px;
    }
    .news .img-title {
        font-size: 19px;
    }
    footer .col-lg-2 div.container-fluid {
        margin-left: -12px;
    }
    footer .service-item p.service-name {
        font-size: 18px;
    }
    footer .service-item .svg-inline--fa {
        margin-top: 10px;
    }
}

@media screen and (max-width:576px) {
    .match-title {
        margin-top: 20px;
    }
}

@media screen and (min-width:992px) {
    .next-matches .matches-table .container {
        margin-bottom: 5px;
    }
    .bg .container .navbar-nav .nav-item .nav-link {
        color: #171b21;
    }
}

@media screen and (max-width:370px) {
    .squad-header h1 {
        font-size: 45px;
    }
}

@media screen and (max-width:400px) {
    .date {
        font-size: 18px;
    }
}


/*end media query*/